body {
  display: grid;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

button {
  border: 0;
  font-size: 45px;
  background-color: #1ecbe1;
  opacity: 0.75;
  border-radius: 35%;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: aquamarine;
  opacity: 0.8;
}
